{%  load static %}
{%  load chat_extras %}
<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>ISWChat</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/chat.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/light.css' %}" id="theme">
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/mobile.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/fonts.css' %}">
          <script src="{% static 'chat/js/chat.js' %}"></script>
          <script src="{% static 'chat/js/jquery.js' %}"></script>
        <meta http-equiv="refresh"content="500">
    </head>
    <body onLoad="funcs()">
        <navbar id="navbar">
            <div id="navbar_section_logo" class="navbar_section">
                 <img id="logo" src="{% static 'chat/icons/chat_icon.png' %}" alt="ISWChat">
                 <a id="navbar_title" href="/home">ISW Chat</a>
            </div>
            <div id="navbar_section_buttons" class="navbar_section">
                <button id="open_contacts_btn" class="navbar_button" onclick="openCECPanel(0)" onmouseover="tooltip('tooltip_contacts', 1)" onmouseleave="tooltip('tooltip_contacts', 0)"></button>
                <span id="tooltip_contacts" class="tooltip">Contatti</span>
                <button id="theme_mode_btn" class="navbar_button" onclick="toggleTheme()"  onmouseover="tooltip('tooltip_theme', 1)" onmouseleave="tooltip('tooltip_theme', 0)"></button>
                <span id="tooltip_theme" class="tooltip">Alterna tema</span>

            </div>
            <div id="navbar_section_profile" class="navbar_section">
                <a id="logout" href="logout" onmouseover="tooltip('tooltip_exit', 0)" onmouseleave="tooltip('tooltip_exit', 0)"></a>
                <span id="tooltip_exit" class="tooltip">Premi per fare il logout</span>
                <img id="user_icon" onmouseover="tooltip('tooltip_edit_profile', 0)" onmouseleave="tooltip('tooltip_edit_profile', 0)" src="{{ user_icon }}" alt="{{ name_to_show }}">
                <a id="user_name" onmouseover="tooltip('tooltip_edit_profile', 0)" onmouseleave="tooltip('tooltip_edit_profile', 0)">{{ name_to_show }}</a>
                <span id="tooltip_edit_profile" class="tooltip">Modifica il profilo</span>
            </div>

        </navbar>
        <div id="personal_info_panel">
            <label id="personal_info_panel_close" ></label>
            <br>
            <img   id="personal_info_icon" src="{{ user_icon }}" alt="{{ name_to_show }}"/>
            <br>
            <label id="personal_info_username">{{ name_to_show }}</label> <!--e cognome-->
            <br>
            <label id="personal_info_delete_profile" >Elimina profilo</label>
            <br>
        </div>
        <div id="input_panel" class="popup_panel">
            <label id="input_panel_title"></label>
            <button class="panel_close" onclick="closePanel('input_panel')"></button>
            <br>
            <input id="input_panel_text" class="input_box" type="email"></input>
            <button id="input_panel_btn_confirm"  class="generic_btn" ></button>
            <label id="input_panel_error">Errore</label>
        </div>
        <div id="chat_and_contacts_panel" class="popup_panel">
            <label id="cec_title">Nuova chat</label>
            <br>
            <button class="panel_close" onclick="closePanel('chat_and_contacts_panel'); closePanel('input_panel')"></button>
            <br>
            <input  id="contacts_search_box" class="input_box" type="text" placeholder="Cerca fra i contatti">
            <button id="contacts_search_btn" class="generic_btn"></button>
            <br>
            <div id="contacts_list">
                {% for contact in contacts %}
                    <div class="contact_element" id="contact_{{  contact.contatto.id  }}">
                        <input class="contact_checkbox" type="checkbox">
                        <img   class="contact_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                        <label class="contact_name">{{ contact.contatto }}</label>
                        <button class="contact_delete" onclick="removeFromContacts({{ contact.contatto.id }})"></button>
                    </div>
                {% endfor %}
            </div>
            <div id="cec_footer">
                <button id="cec_new_contact_btn" onclick="openInputPanel()">Aggiungi Contatto</button>
            </div>
        </div>

        <div id="thread_list">
            <div>
                <button id="new_thread" class="generic_btn" onclick="openCECPanel(1)"></button>
                <input  id="search_box" class="input_box" type="text" placeholder="Cerca fra le chat">
                <button id="search_btn" class="generic_btn"></button>
            </div>
        <br>
            {% for chat_thread in Threads %}
                <div class="chat_thread"  id="thread_{{ chat_thread.chat_id }}" onclick="openThread({{ chat_thread.chat_id }})">
                 <img   class="thread_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                 <label class="thread_title"  id="thread_title_{{ chat_thread.chat_id }}">{{ chat_thread.chat.nome }}</label>
                 <label class="thread_status" id="thread_status_{{ chat_thread.chat_id }}"></label>
                 <br>
                 <label class="thread_preview" id="thread_preview_{{ chat_thread.chat_id }}">{{ chat_thread|getltsmsg:"32" }}</label>
            </div>
            {% endfor %}
        </div>

        <div id="chat_hidden">
                <label>Premi una chat per iniziare</label>
            </div>
        <div id="chat">
            <div id="thread_header">
                <button id="chat_close" onclick="closeChatThread()"></button>
                <img   id="chat_user_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                <label id="chat_title"></label>
                <label id="chat_user_status"></label>
                <label id="chat_thread_detail" onclick="openChatThreadDetail()"></label>
            </div>
            <div id="thread_bubbles">
              <br><br><br>

             <!-- thread popolato da javascript

                {% for message in messages %}
                     <div class="bubble_container {{ message|sentbyuser:user}}">
                        {% if forloop.last %}
                            <label class="lastElemen t">{{ message.contenuto }}</label>
                        {% else %}
                            <label>{{ message.contenuto }}</label>
                        {% endif %}

                     </div>
                    <br>
                {% endfor %}-->

            </div>

            <div id="send_box">
                <input id="message_box" onkeypress="sendMessageOnEnter()" class="input_box" type="text" placeholder="Scrivi qualcosa">
                <button id="send_btn" onclick="sendMessage()"></button>
            </div>

        </div>

    </body>
</html>