{%  load static %}
{%  load chat_extras %}
<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>ISWChat</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/chat.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/light.css' %}" id="theme">
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/mobile.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/fonts.css' %}">
          <script src="{% static 'chat/js/chat.js' %}"></script>
          <script src="{% static 'chat/js/jquery.js' %}"></script>
        <meta http-equiv="refresh"content="500">
    </head>
    <body onLoad="funcs()">
        <navbar id="navbar">
            <img id="logo" src="{% static 'chat/icons/chat_icon.png' %}" alt="ISWChat">
            <a id="navbar_title" href="/home">ISW Chat</a>
            <label id="theme_mode_btn" onclick="toggleTheme()"  onmouseover="showtooltip(2)" onmouseleave="hidetooltip(2)"></label>
            <span id="tooltip_theme" class="tooltip">Alterna tema</span>
            <a id="logout" href="logout" onmouseover="showtooltip(0)" onmouseleave="hidetooltip(0)"></a>
            <span id="tooltip_exit" class="tooltip">Premi per fare il logout</span>
            <img id="user_icon" onmouseover="showtooltip(1)" onmouseleave="hidetooltip(1)" src="{{ user_icon }}" alt="{{ name_to_show }}">
            <a id="user_name" onmouseover="showtooltip(1)" onmouseleave="hidetooltip(1)">{{ name_to_show }}</a>
            <span id="tooltip_edit_profile" class="tooltip">Modifica il profilo</span>

        </navbar>
        <div id="personal_info_panel">
            <label id="personal_info_panel_close" ></label>
            <br>
            <img id="personal_info_icon" src="{{ user_icon }}" alt="{{ name_to_show }}"/>
            <br>
            <label id="personal_info_username">{{ name_to_show }}</label> <!--e cognome-->
            <br>
             <label id="personal_info_delete_profile" >Elimina profilo</label>
            <br>

        </div>
        <div id="new_chat_panel">
            <label id="new_chat_title">Nuova chat</label>
            <br>
            <label id="new_chat_close" onclick="closeNewChat()"></label>
            <br>
            <input  id="contacts_search_box" class="input_box" type="text" placeholder="Cerca fra i contatti">
            <button id="contacts_search_btn" class="generic_btn"></button>
            <br>

            <div id="contacts_list">
                <div class="contact_element">
                    <input class="contact_checkbox" type="checkbox" id="user_id_check">
                    <img   class="contact_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                    <label class="contact_name">Piergiorgio</label>
                    <label class="contact_status offline"> </label>
                </div>
                <div class="contact_element">
                    <input class="contact_checkbox" type="checkbox" id="user_id_check">
                    <img   class="contact_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                    <label class="contact_name">Gianpuddu</label>
                    <label class="contact_status online"> </label>
                </div>
                <div class="contact_element">
                    <input class="contact_checkbox" type="checkbox" id="user_id_check">
                    <img   class="contact_icon" src="{% static 'chat/icons/lorec.png' %}" alt="username">
                    <label class="contact_name">La Direzione</label>
                    <label class="contact_status online"> </label>
                </div>
                 <div class="contact_element">
                    <input class="contact_checkbox" type="checkbox" id="user_id_check">
                    <img   class="contact_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                    <label class="contact_name">John Stavolta</label>
                    <label class="contact_status offline"> </label>
                </div>
                 <div class="contact_element">
                    <input class="contact_checkbox" type="checkbox" id="user_id_check">
                    <img   class="contact_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                    <label class="contact_name">Tommaso Crociera</label>
                    <label class="contact_status offline"> </label>
                </div>
                <div class="contact_element">
                    <input class="contact_checkbox" type="checkbox" id="user_id_check">
                    <img   class="contact_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                    <label class="contact_name">Erminio Ottone</label>
                    <label class="contact_status offline"> </label>
                </div>
                <div class="contact_element">
                    <input class="contact_checkbox" type="checkbox" id="user_id_check">
                    <img   class="contact_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                    <label class="contact_name">Jerry Scroti</label>
                    <label class="contact_status offline"> </label>
                </div>
                <div class="contact_element">
                    <input class="contact_checkbox" type="checkbox" id="user_id_check">
                    <img   class="contact_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                    <label class="contact_name">Basca Medda</label>
                    <label class="contact_status offline"> </label>
                </div>
                <div class="contact_element">
                    <input class="contact_checkbox" type="checkbox" id="user_id_check">
                    <img   class="contact_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                    <label class="contact_name">Gassa Saba</label>
                    <label class="contact_status offline"> </label>
                </div>
            </div>
        </div>

        <div id="thread_list">
            <div>
                <button id="new_thread" class="generic_btn" onclick="openNewChat()"></button>
                <input  id="search_box" class="input_box" type="text" placeholder="Cerca fra le chat">
                <button id="search_btn" class="generic_btn"></button>
            </div>
            {% for chat_thread in Threads %}
                <div class="chat_thread"  onclick="openThread({{ chat_thread.chat_id }})">
                 <img   class="thread_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                 <label id="chat_thread_{{ chat_thread.chat_id }}"class="thread_title"> {{ chat_thread.chat.nome }} </label>
                 <label class="thread_status">  </label>
                 <br>
                 <label class="thread_preview">{{ chat_thread|getltsmsg }}</label>
            </div>
            {% endfor %}
        </div>

        <div id="chat_hidden">
                <label>Premi una chat per iniziare</label>
            </div>
        <div id="chat">

            <div id="thread_header">
                <img   id="chat_user_icon" src="{% static 'chat/icons/generic_user.png' %}" alt="username">
                <label id="chat_title"></label>
                <label id="chat_user_status"></label>
                <label id="chat_thread_detail" onclick="openChatThreadDetail()"></label>
            </div>

            <div id="thread_bubbles">
              <br><br><br>

             <!-- thread popolato da javascript

                {% for message in messages %}
                     <div class="bubble_container {{ message|sentbyuser:user}}">
                        {% if forloop.last %}
                            <label class="lastElemen t">{{ message.contenuto }}</label>
                        {% else %}
                            <label>{{ message.contenuto }}</label>
                        {% endif %}

                     </div>
                    <br>
                {% endfor %}-->

            </div>

            <div id="send_box">
                <input id="message_box" onkeypress="sendMessageOnEnter(event)" class="input_box" type="text" placeholder="Scrivi qualcosa">
                <button id="send_btn" onclick="sendMessage()"></button>
            </div>

        </div>

    </body>
</html>