{%  load static %}
<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/fonts.css' %}">
        <script src="{% static 'chat/js/reactor.js' %}"></script>
        <title>CheChat</title>
    </head>
    <body onload="init()">
        <div class="box" id="logo_box">
            <img id="chat_logo" src="{% static 'chat/icons/chat_icon.png' %}" alt="CheChat" />
            <br>
            <label id="greeting_message"   style="font-family: Libel Suit, sans-serif;">Benvenuto in CheChat</label>
        </div>
        <div id="separator"></div>
        <div class="box" id="login_box">
               {% if valid_login %}
                    <label id="invalid_data_message">Dati di accesso non validi</label>
               {% endif %}
           <form action='home' method="post">{% csrf_token %}
                <label id="access_text">Accedi</label>
                <br>
               <input id="email_field" class="input" type="email" name="mail" placeholder="Email" oninput="onFieldInput()"/>
                <br>
                <input id="password_field" class="input" type="password" name="password" placeholder="Password" oninput="onFieldInput()"/>
                <br>
                <button id="login_btn" class="button">Login</button>
            </form>
            <br>
        <a id="register" href="register">Non hai un account? Registrati qui</a>
        </div>

        <footer>
             <label id="footer_text"  style="font-family: Libel Suit, sans-serif;">Creato da C2GP Team</label>
        </footer>

    </body>
</html>