{%  load static %}
<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/fonts.css' %}">
        <script src="{% static 'chat/js/reactor.js' %}"></script>
        <title>CheChat</title>
    </head>
    <body onload="init()">
    <label id="team_logo" >C2GP <span style="
        font-weight: normal;
    ">Team</span></label>
        <form id="login_box" action='home' method="post">{% csrf_token %}
            <label id="access_text">CheChat<span id="stage">ISW</span></label>
            <br>
            <input id="email_field" class="input" type="email" name="mail" placeholder="Email" oninput="onFieldInput()"/>
            <br>
            <input id="password_field" class="input" type="password" name="password" placeholder="Password" oninput="onFieldInput()"/>
            <br>
            <button id="login_btn" class="button"></button>
            <br>
            {% if valid_login %}
                <label id="invalid_data_message">Dati di accesso non validi</label>
            {% endif %}
        </form>
        <br>


        <footer>
            <label><a id="register" href="register">Crea un Account</a></label>
            <label class="point_separator"></label>
            <label class="footer_text" >Privacy Policy</label>
            <label class="point_separator"></label>
            <label class="footer_text">Informazioni</label>
        </footer>

    </body>
</html>