{%  load static %}
<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'chat/css/fonts.css' %}">
        <script src="{% static 'chat/js/reactor.js' %}"></script>
        <title>CheChat - Registrazione</title>

    </head>
    <body onload="init()">
            <a id="home_btn" href="/"></a>
            <label id="team_logo" >C2GP <span style="font-weight: normal;">Team</span></label>
            <form id="login_box"  action="/register" method="post">{% csrf_token %}
                <label id="access_text">CheChat<span id="stage">ISW</span></label>
                <br>
                <label style="position: relative;top: 32px;">Registrazione</label>
                <br>
                <input id="name_field" class="input" type="name" name="name" placeholder="Nome" oninput="onFieldRegisterInput()"/>
                <br>
                <input id="surname_field" class="input" type="family-name" name="family-name" placeholder="Cognome" oninput="onFieldRegisterInput()"/>
                <br>
                <input id="email_field" class="input" type="email" name="mail" placeholder="Email" oninput="onFieldRegisterInput()"/>
                <br>
                <input id="password_field" class="input" type="password" name="password" placeholder="Password" oninput="onFieldRegisterInput()"/>
                <br>
                <input id="confirm_password_field" class="input" type="password" name="confirm_psw" placeholder="Conferma password" oninput="onFieldRegisterInput()"/>
                <br>
                <input type="hidden" name="register" value="True"/>
                <button id="login_btn" class="button"></button>
                <br>
                <label id="invalid_data_message" style="position: relative;top: 64px;">{{ response }}</label>
            </form>
            <br>

        </div>

          <footer>

            <label class="footer_text" >Privacy Policy</label>
            <label class="point_separator"></label>
            <label class="footer_text">Informazioni</label>
        </footer>

    </body>
</html>