body {
	font-family: "Product Sans", sans-serif;
	 -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body::-webkit-scrollbar {
	display: none;
}

a:link {
	text-decoration: none;
}

#logo {
	position: relative;
	width: 32px;
	left: 16px;

}

#navbar_title {
	position: relative;
	padding-left: 10px;

	left: 16px;
	font-family: "Libel Suit", sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.navbar_button{
	font-family: "Material Icons";
	top:7px;
	font-size: 24px;
	position: relative;
	background:	white;
	border-style: solid;
	border-width: 0.5px;
	border-radius: 4px;
	border-color: transparent;
	box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.35);
	padding: 4px 12px;

}
#theme_mode_btn{
	left: calc(50% - 12px);
	cursor: pointer;
}
#open_contacts_btn{

	position: absolute;
    top: calc(100% - 96px);

    left: 0;
	font-family: "Material Icons", sans-serif;
  /*  height: 49px;
    background: black;
    border-style: solid;
    border-radius: 16px 16px 0 0;
    color: white;

    font-size: 24px;
    text-align: center;*/
}
#user_name {
	position: relative;
	text-align: left;
	float: right;
	left: -24px;

	cursor: pointer;
}

#user_icon {
	width: 32px;
	position: relative;
	text-align: left;
	float: right;
	left: -20px;

	    border-style: solid;
    border-radius: 256px;
    border-width: 0.5px;
    border-color: #ffffff00;
}

#navbar {
	z-index: 55;
	position: fixed;
	width: 100%;
	height: 48px;
	left: 0;
	top: 0;
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
}
.navbar_section{
	position: absolute;

	height: 48px;
	    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

#navbar_section_logo{
	left:0;
}
#navbar_section_buttons{
	left:33.33333333333333333333333%;
}
#navbar_section_profile{
	right:0;
}
#navbar_section_profile>a {
	color: black;
}

/*Thred list look*/

#box_left {
	position: absolute;
	width: 33%;
	left: 0px;
	top: 48px;
	height: calc(100% - 48px);
}
#box_left_title{
	font-family: "Libel Suit", sans-serif;
	font-size: 24px;
	position: absolute;
    width: 100%;
    text-align: center;
	top: 4px;

}
#box_footer{
	position: absolute;
    width: 100%;
    left: 0;
  height: 63.5px;
    top: calc(100% - 63.5px);
	 display: flex;
  align-items: center;
  justify-content: center;
}
.box_footer_btn{
	background: transparent;
    border-color: transparent;
	position: relative;

}
.box_footer_btn_image{
	width: 48px;
}
#thread_list{
	position: relative;
    top: 32px;
}
.thread_icon {
	position: relative;
	height: 32px;
	left: 8px;
	top: 16px;
	border-style: solid;
    border-radius: 256px;
    border-width: 0px;
    border-color: #1e90ff00;
    background: white;
}

.chat_thread {
	position: relative;
	height: 64px;
	top:4px;
    border-collapse: collapse;
    border-bottom-style: solid;
}

.thread_title {
    position: absolute;
    left: 50px;
    top: 12px;
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 110px);
    white-space: nowrap;
}

.thread_preview {
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 120px);
    white-space: nowrap;
    position: absolute;
    left: 50px;
    font-size: 12px;
    top: 37px;
}

.thread_status {
	font-family: "Material Icons";
	font-size: 16px;
	position: relative;
	float: right;
	left: -24px;
	top: 20px;
	padding: 4px;
}

#new_thread {
	position: relative;
	left: 16px;
	top: 8px;
}
#search{
	position: relative;
	height: 24px;
}
#search_box {
	position: relative;
	left: 16px;
	top: 4px;
	height: 16px;
	width: calc(100% - 140px);
}

#search_btn {
	position: relative;
	float: right;
	left: -16px;
	top: 8px;
}

.generic_btn {
	font-family: "Material Icons";
	font-size: 16px;
	width: 32px;
	height: 32px;
    border-style: solid;
    cursor: pointer;

}

/*Thread view*/

#chat {
	position: fixed;
	width: calc(100% - 33%);
	left: 33%;
	top: 48px;
	height: calc(100% - 48px);
	visibility: hidden

}
#chat_hidden{
	position: fixed;
	width: calc(100% - 33%);
	left: 33%;
	top: calc(50% - 24px);
	height: 48px;
	visibility: visible;
	text-align: center;
 vertical-align: middle;
	font-family: "Libel Suit", serif;
    font-size: 24px;
}
#thread_header {
	z-index: 2;
	position: relative;
	width: 100%;
	height: 48px;

}
#chat_close{
	font-size: 0;
	font-family: "Material Icons", serif;
	position: relative;
	background: transparent;
	left: -16px;
	visibility: hidden;

}
#chat_title {
	position: relative;
	left: 16px;
	font-size: 20px;
	font-weight: bold;
	top: -2px;
}

#chat_user_icon {
	position: relative;
	width: 32px;
	top: 8px;
	left: 8px;
	border-style: solid;
    border-radius: 256px;
    border-width: 0px;
    border-color: #1e90ff00;
}

#chat_user_status {
	font-family: "Material Icons";
	position: relative;
	left: 24px;
}
.chat_thread_header_btn{
    font-size: 24px;
    position: relative;
    float: right;
    right: 4px;
    top: 5px;
    padding: 4px;
    /* background: rgba(181, 181, 181, 0.39); */
    margin-right: 10px;
    width: 32px;
    border-style: solid;
    /* border-radius: 256px; */
    border-width: 0px;
    border-color: #1e90ff00;

}
#thread_bubbles {
	top:0px;
	height: calc(100% - 48px);
	overflow: auto;
	position: absolute;
	width: 100%;

}

#thread_bubbles::-webkit-scrollbar {
	display: none;
}

.bubble_container {
	position: relative;
	width: 45%;
	overflow: auto;
	padding: 8px;

	-webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}
.moving_bubble{
	position:absolute;
	left:8px;
	z-index:1000;
   	top: calc(50% - 22px);
	height:24px;
	width:calc(100% - 124px);
	color:white;
	background:dodgerblue;

	padding:8px 16px;
	border-style:solid;
	border-radius: 32px 32px 0 32px;
}
.bubble_sender_name{
	position: absolute;
	width: calc(100% - 16px);
	backdrop-filter: brightness(80%);
	top:0;
	left:0;
	padding-left: 16px;

	padding-top: 2px;
}
.outgoing {
	left: 52.5%;
	border-radius: 16px 16px 0 16px;
	  overflow: hidden;
}

.incoming {
	left: 2.5%;
	border-radius: 0 16px 16px 16px;
}

.msg_status {
	font-family: "Material Icons";
	font-size: 8px;
	float: right;
	left: 128px;
	top: 20px;
	border-radius: 64px;
	padding: 4px;
}

#send_box {
	z-index: 16;
	position: absolute;
	height: 64px;
	top: calc(100% - 64px);
	width: 100%;
	left: 0;
}

#send_btn {
	font-family: "Material Icons";
	z-index: 16;
	position: relative;
	float: right;
	border-radius: 16px;
	padding: 8px 4px;
	width: 64px;
	top: 14px;
    right: 8px;
    cursor: pointer;
}

#message_box {
	z-index: 16;
	position: relative;
	width: calc(100% - 124px);
	left: 8px;
	height: 24px;
	top: calc(50% - 22px);
}

.input_box {
	border-radius: 32px;
	padding: 8px 16px;
    border-style: solid;
}
.popup_panel{
	z-index: 50;
	position: fixed;
	height: calc(100% - 48px);
	top: 150%;

    left: 0px;
    width: 33%;
    border-style: solid;
    border-width: 0px;

	-webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;



}
#input_panel{
	height: 100px;
	z-index: 51;

}
#input_panel_title{
	font-family: "Libel Suit", Serif;
	position: absolute;
	font-size: 24px;
	padding-left: 24px;
	padding-top: 4px;
	padding-bottom: 4px;
	top:8px;
	/*on error show, panel increase +20px*/
}
#input_panel_error{
	visibility: hidden;
    position: absolute;
    left: 16px;
    top: 96px;
    font-size: 12px;
}
#input_panel_text{
	top: 32px;
    position: relative;
    left: 8px;
	width: calc(100% - 96px);
}
#input_panel_btn_confirm{
	font-family: "Material Icons";
	position: relative;
    left: 12px;
    top: 36px;
}

#cec_title {
	font-family: "Libel Suit", serif;
	position: absolute;
	font-size: 24px;
	padding-left: 24px;
	padding-top: 4px;
	padding-bottom: 4px;
	top:8px;

}
#cec_startchat{
	position: relative;
	float:right;
	top: -24px;
	left:-16px;
}
#cec_footer{
	position: relative;
	height: 32px;
	text-align: left;
	top: 10px;
}
#cec_new_contact_btn{

	font-family: "Product Sans", serif;
    background: rgba(220, 220, 220, 0.8);
    border-color: transparent;
    border-radius: 16px;
    font-size: 16px;
    top: 8px;
	left: calc(50% - 76px);
    position: relative;
    backdrop-filter: blur(8px);
    color: #565353;
	padding: 4px 8px;
}
.panel_close{
	z-index: 55;
	font-family: "Material Icons", serif;
	position: absolute;
	font-size: 24px;
	float: right;
	right:8px;
	top:8px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
}
#contacts_search_box{
	    width: calc(100% - 96px);
    position: relative;
    left: 8px;
    top: 8px;
}
#contacts_search_btn{
	position: relative;
	top:12px;
	left: 12px;
}
#contacts_list {
	position: relative;
    top: 10px;
    height: calc(100% - 132px);
    overflow: auto;
}
#contacts_list::-webkit-scrollbar {
	display: none;
}

.contact_element {
	border-bottom-style: solid;
	border-collapse: collapse;
	border-width: 0.5px;
}
.contact_checkbox {
	position: relative;
	top: -5px;
	left: 5px;
	height: 16px;
	width: 16px;
	border-radius: 16px;
}
.contact_icon {
	width: 32px;
	position: relative;
	left: 8px;
	top: 3px;
    height: 32px;
    left: 8px;

    border-style: solid;
    border-radius: 256px;
    border-width: 0px;
    border-color: #1e90ff00;
    background: white;
}
.contact_name {
	position: relative;
	left: 16px;
	font-size: 20px;
	font-weight: bold;
	top: -6px;
}

.contact_status {
	position: relative;
	float: right;
	font-family: "Material Icons";
	font-size: 24px;
	left: -5px;
	top: 4px;
	border-radius: 64px;
	padding: 4px;
}
.contact_delete{
	    float: right;
    right: 8px;

    border-radius: 64px;
    border-color: transparent;
    background: transparent;
    position: fixed;
}
.contact_delete_icon{
	width: 32px;
	height: 32px;
}
.online{
	background-color: transparent;
	color : limegreen;
}
.offline{
	background-color: transparent;
	color : #303030;
}
#personal_info_panel{
	z-index: 51;
	position: fixed;
	height: 50%;
	width: 30%;
	left: 35%;
	top: 150%;

	border-style: solid;
	border-width: 0.5px;
	border-radius: 16px;
	-webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
	text-align: center;

	visibility: hidden;
}
#personal_info_icon{
	position: relative;
	width: 30%;

}
#personal_info_username{
	font-size: 24px;
}
#personal_info_panel_close{
	font-family: "Material Icons";

	position: absolute;
	float:right;
	right:16px;
	top:16px;
	font-size:24px;
}
#personal_info_delete_profile{
	position: fixed;
	bottom:8px;
	color:darkred;
	font-size: 24px;

}
#logout{
	font-family: "Material Icons";
	font-size: 24px;


	position: relative;

	float: right;
	left: -16px;

	cursor: pointer;
}
#logout:hover{
	color: #d20000;
	 -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
}

#tooltip_exit {
	position: absolute;
	float:right;
	right:0px;
	top:40px;
	width: 200px;
}
#tooltip_edit_profile{
	position: absolute;
	float:right;
	right:32px;
	top:40px;
	width: 150px;
}
#tooltip_theme{
	position: absolute;

	left:calc(50% + 48px);
	top:46px;
	width: 150px;
}
#tooltip_contacts{
	position: absolute;

	left:calc(50% + 0px);
	top:46px;
	width: 150px;
}
.tooltip{
	visibility: hidden;
	display: inline-block;
	border-bottom: 1px dotted black;
	color:white;
	text-align: center;
	background-color: #555;
	border-radius: 16px;
  	padding: 5px 0;
	margin-left: -60px;
  	opacity: 0.8;
  	transition: opacity 0.3s;
	backdrop-filter: blur(50px);
	z-index: 90;
}
.tooltip_bottom{
	position: absolute;
	top: -24px;
	width: 128px;
}

#tooltip_open_contacts{
	left: 50%;
}
#tooltip_toggletheme{
	left: calc(66% - 4px);
}