body {
	font-family: "Product Sans", sans-serif;
	 -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-width: 1024px;
}

body::-webkit-scrollbar {
	display: none;
}

a:link {
	text-decoration: none;
}

#logo {
	position: relative;
	width: 0px;
	left: 16px;

}

#navbar_title {
	position: relative;
    padding-left: 10px;
    left: 0;
    font-family: "Product Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#user_name {
	position: relative;
	text-align: left;
	float: right;
	left: -24px;

	cursor: pointer;
}

#user_icon {
	width: 20px;
    position: relative;
    text-align: left;
    float: right;
    left: -16px;
	top:-1px;
    border-style: solid;
    border-radius: 256px;
    border-width: 0.5px;
    border-color: #ffffff00;
}

#navbar {
	z-index: 55;
    position: fixed;
    width: 100%;
    height: 24px;
    left: 0;
    top: 0;
	box-shadow: 0 -9px 17px 0 #0000003b;
}
.navbar_section{
	position: absolute;

	height: 24px;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

#navbar_section_logo{
	left:0;
}
#navbar_section_profile{
	right:0;
}
#navbar_section_profile>a {
	color: black;
}

#box_left {
	position: absolute;
    width: 315px;
    left: 0;
    top: 24px;
    height: calc(100% - 24px);
}
#box_left_title{
	font-family: "Product Sans", sans-serif;
    font-size: 24px;
    position: absolute;
    top: 12px;
    font-weight: bold;
    padding-left: 7px;
}
#box_footer{
    position: fixed;
    left: 69px;
    top: calc(100% - 72px);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.box_footer_btn{
	background: transparent;
    border-color: transparent;
	position: relative;

}
.box_footer_btn_image{
	width: 40px;
}
#thread_list{
	position: relative;
    top: 48px;
}
.thread_icon {
	position: relative;
	height: 32px;
	left: 8px;
	top: 16px;
	border-style: solid;
    border-radius: 256px;
    border-width: 0;
    border-color: #1e90ff00;
    background: white;
}

.chat_thread {
    position: relative;
    height: 64px;
    border-radius: 10px;
    width: calc(100% - 16px);
    margin-left: 8px;
    margin-top: 8px;
}

.thread_title {
    position: absolute;
    left: 50px;
    top: 12px;
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 110px);
    white-space: nowrap;
}

.thread_preview {
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 120px);
    white-space: nowrap;
    position: absolute;
    left: 50px;
    font-size: 12px;
    top: 37px;
}

.thread_status {
	font-family: "Material Icons", sans-serif;
	font-size: 16px;
	position: relative;
	float: right;
	left: -24px;
	top: 20px;
	padding: 4px;
}

.generic_btn {
	font-family: "Material Icons", sans-serif;
	font-size: 16px;
	width: 32px;
	height: 32px;
    border-style: solid;
    cursor: pointer;

}

#chat {
	position: fixed;
    width: calc(100% - 315px);
    left: 315px;
    top: 25px;
    height: calc(100% - 25px);
    visibility: hidden;
}
#chat_hidden{
	position: fixed;
	width: calc(100% - 33%);
	left: 33%;
	top: calc(50% - 24px);
	height: 48px;
	visibility: visible;
	text-align: center;
 vertical-align: middle;
	font-family: "Libel Suit", serif;
    font-size: 24px;
}
#thread_header {
	z-index: 2;
    position: relative;
    width: calc(100% - 16px);
    height: 48px;
    box-shadow: 0 3px 12px 0 #0000003b;
    border-radius: 10px;
    left: 8px;
    top: 4px;
}
#chat_close{
	font-size: 0;
	font-family: "Material Icons", serif;
	position: relative;
	background: transparent;
	left: -16px;
	visibility: hidden;

}
#chat_title {
	position: relative;
	left: 16px;
	font-size: 20px;
	font-weight: bold;
	top: -2px;
}

#chat_user_icon {
	position: relative;
	width: 32px;
	top: 8px;
	left: 0;
	border-style: solid;
    border-radius: 256px;
    border-width: 0;
    border-color: #1e90ff00;
}
#chat_header_btns{
	position: absolute;
    float: right;
    right: 8px;
    top: 6px;
    box-shadow: 0 3px 12px 0 #0000003b;
    border-radius: 10px;
}
.chat_thread_header_btn{
	font-size: 24px;
    position: relative;
    float: right;
    padding: 4px;
    margin: 0 4px;
    width: 32px;
    border-style: solid;
    border-width: 0;
    border-color: #1e90ff00;
	top: 4px;
}
#thread_bubbles {
	top:0;
	height: calc(100% - 40px);
	overflow: auto;
	position: absolute;
	width: 100%;
}

#thread_bubbles::-webkit-scrollbar {
	display: none;
}

.bubble_container {
	position: relative;
	width: 45%;
	overflow: auto;
	padding: 8px;

	-webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

.bubble_sender_name{
	position: absolute;
	width: calc(100% - 16px);
	backdrop-filter: brightness(80%);
	top:0;
	left:0;
	padding-left: 16px;

	padding-top: 2px;
}
.outgoing {
	left: 50%;
	border-radius: 16px 16px 0 16px;
	  overflow: hidden;
}

.incoming {
	left: 2.5%;
	border-radius: 0 16px 16px 16px;
}

#send_box {
	z-index: 16;
    position: absolute;
    height: 48px;
    top: calc(100% - 56px);
    width: 100%;
    left: 0;
}

#send_btn {
	font-family: "Material Icons", sans-serif;
    z-index: 16;
    position: relative;
    float: right;
    border-radius: 236px;
    padding: 8px 4px;
    width: 33px;
    top: 6px;
    right: 13px;
    cursor: pointer;
    font-size: 15px;
}

#message_box {
	z-index: 16;
    position: relative;
    width: calc(100% - 100px);
    left: 8px;
    height: 19px;
    top: 5px;
}

.input_box {
	border-radius: 32px;
	padding: 8px 16px;
    border-style: solid;
}
.popup_panel{
	z-index: 50;
	position: fixed;
	height: calc(100% - 24px);
	top: 150%;
	left: 0;
	width: 315px;
	border-style: solid;
	border-width: 0;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}

#input_panel_error{
	visibility: hidden;
    position: absolute;
    left: 16px;
    font-size: 12px;
    top: 90px;
    font-family: "Product Sans", sans-serif;
	color:red;
}

#cec_title {
	font-family: "Product Sans", serif;
	position: absolute;
	font-size: 24px;
	/*padding-left: 24px;*/
	padding-top: 4px;
	padding-bottom: 4px;
	top:8px;

    font-weight: bold;
    padding-left: 7px;

}
#cec_startchat{
	position: relative;
	float:right;
	top: -24px;
	left:-16px;
}

.panel_close{
	z-index: 55;
	font-family: "Material Icons", serif;
	position: absolute;
	font-size: 24px;
	float: right;
	right:8px;
	top:8px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
}
#contacts_search_box{
	    width: calc(100% - 96px);
    position: relative;
    left: 8px;
    top: 8px;
}
#contacts_search_btn{
	position: relative;
	top:12px;
	left: 12px;
}
#contacts_list {
	position: relative;
    top: 10px;
    height: calc(100% - 132px);
    overflow: auto;
}
#contacts_list::-webkit-scrollbar {
	display: none;
}

.contact_element {
	border-bottom-style: solid;
	border-collapse: collapse;
	border-width: 0.5px;
}
.contact_checkbox {
	position: relative;
	top: -5px;
	left: 5px;
	height: 16px;
	width: 16px;
	border-radius: 16px;
}
.contact_icon {
	width: 32px;
	position: relative;
	left: 8px;
	top: 3px;
    height: 32px;

    border-style: solid;
    border-radius: 256px;
    border-width: 0;
    border-color: #1e90ff00;
    background: white;
}
.contact_name {
	position: relative;
	left: 16px;
	font-size: 20px;
	font-weight: bold;
	top: -6px;
}


.contact_delete{
	    float: right;
	    right: 4px;
	    border-radius: 64px;
	    border-color: transparent;
	    background: transparent;
	    position: fixed;
}
.contact_delete_icon{
	width: 32px;
	height: 32px;
}

#personal_info_panel{
	z-index: 51;
	position: fixed;
	height: 50%;
	width: 30%;
	left: 35%;
	top: 150%;

	border-style: solid;
	border-width: 0.5px;
	border-radius: 16px;
	-webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
	text-align: center;

	visibility: hidden;
}
#personal_info_icon{
	position: relative;
	width: 30%;

}
#personal_info_username{
	font-size: 24px;
}
#personal_info_panel_close{
	font-family: "Material Icons", sans-serif;

	position: absolute;
	float:right;
	right:16px;
	top:16px;
	font-size:24px;
}
#personal_info_delete_profile{
	position: fixed;
	bottom:8px;
	color:darkred;
	font-size: 24px;

}
#logout{
	font-family: "Material Icons", sans-serif;
	font-size: 20px;
	position: relative;
	float: right;
	left: -10px;
	cursor: pointer;
}
#logout:hover{
	color: #d20000;
	 -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
}

#tooltip_exit {
	position: absolute;
	float:right;
	right:0;
	top:28px;
	width: 200px;
}
#tooltip_edit_profile{
	position: absolute;
	float:right;
	right:32px;
	top:28px;
	width: 150px;
}

.tooltip{
	visibility: hidden;
	display: inline-block;
	border-bottom: 1px dotted black;
	color:white;
	text-align: center;
	background-color: #555;
	border-radius: 16px;
  	padding: 5px 0;
	margin-left: -60px;
  	opacity: 0.8;
  	transition: opacity 0.3s;
	backdrop-filter: blur(50px);
	z-index: 90;
}
.tooltip_bottom{
	position: absolute;
	top: -24px;
	width: 128px;
}

#tooltip_open_contacts{
	left: 50%;
}
#tooltip_toggletheme{
	left: calc(66% - 4px);
}