body {
	background: #1a1a1a;
}
::placeholder {
  color: #b5b5b5;
}
#navbar {
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	background: rgba(0, 0, 0, 0.8);

	border-bottom-color: #202020;
}

#navbar>a:link {
	color: white;
}

#navbar>a {
	color: white;
}
#navbar_title {
	color:white;
}
.navbar_button{
	background:	#3e3d3d;
	color: white;
}
#chat_hidden {
	color: white;
}
/*Thred list look*/

#box_left {
	border-top-color: #212121;
	border-width: 1px;
	border-right-style: solid;
	border-right-color: #212121;
}
#box_left_title{
	color: white;
}
#box_footer{
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	background: rgba(0, 0, 0, 0.8);

	border-top-color: #202020;
}
.thread_icon{
	background: #1a1a1a;
}
.chat_thread {
	border-bottom-color: black;
	border-bottom-width: 1px;
}

.thread_status {
	color: white;
	background-color: darkgrey;
	border-radius: 64px;

}

#search_box {
	background: rgba(128, 128, 128, 0.25);
}

.generic_btn {
	color: white;
	background: dodgerblue;
	border-color: dodgerblue;
	border-radius: 32px;
}

/*Thread view*/

#chat {
	border-top-style: solid;
	border-top-color: black;
	border-left-style: solid;
	border-left-color: black;
	border-width: 1px;
	background: #1c1c1c;
}

#thread_header {
	border-color: #dfdfdf;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	background: rgba(30, 30, 30, 0.31);
}
#chat_title {
	color:white;
}

#chat_user_status {
	color: green;
}
.chat_thread_header_btn{
	color: white;
	cursor: pointer;
}

.outgoing {
	color: white;
	background: dodgerblue;
}

.incoming {
	background: #07253a;
	color: #e8e8e8;
}

.msg_status {
	color: white;
	background-color: darkgrey;
}

#send_box_bkg {

	background: rgba(30, 30, 30, 0.25);

	backdrop-filter: blur(8px);
	border-top-style: solid;
	border-top-width: 0.5px;
	border-color: black;
}
.thread_title {
	color:white;
}
.thread_preview	 {
	color:white;
}
#send_btn {
	border-style: solid;
	border-color: transparent;
	border-radius: 16px;
	background-color: dodgerblue;
	color: white;
}

#message_box {
	color: white;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	background: rgba(220, 220, 220, 0.31);
}

.input_box {
	border-color: transparent;
	background-color: rgba(220, 220, 220, 1);
	color: white;
}

.popup_panel{
	border-color: #2c2c2c;
	background-color: black;
	box-shadow: 0px 0px 50px rgba(16, 16, 16, 1.0);
	backdrop-filter: blur(8px);
	background-color: rgba(0,0,0, 0.8);
}

#cec_title {
	color:white;
}
.panel_close{
	color:white;
}
#contacts_search_box{
	backdrop-filter: blur(8px);
	background-color: rgba(30, 30, 30, 0.8);
}
.contact_element {
	border-color: #353535;
}
.contact_checkbox {
	background-color: #eee;
}
.contact_status {
	color: white;
}
.contact_name {
	color:white;
}
.online{
	background-color: transparent;
	color : limegreen;
}
.offline{
	background-color: transparent;
	color : #303030;
}
#personal_info_panel{
	border-color: #07253a;
	box-shadow: 0px 0px 50px rgb(93, 93, 93);
	backdrop-filter: blur(8px);
	background-color: rgba(0,0,0, 0.8);
}

#personal_info_username{
	color:white;
}
#personal_info_panel_close{
	color:white;
}
#input_panel{
	color:white;
}
#input_panel_title{
	color:white;
 }
#navbar_section_profile>a{
	color:white;
}
#chat_close {
	color: white;
}