
@media (max-width:1080px) and (-webkit-min-device-pixel-ratio: 2.0), (max-width:1080px) and (-webkit-min-device-pixel-ratio: 2.0){

    .box{
        font-size: 48px;
        height: 30%;
        left:0;
        width: 100%;
    }
    footer{
        height: 62px;
        top: calc(100% - 62px);
    }
    .point_separator{
        font-size: 32px;
    }
    #invalid_data_message{
        font-size: 48px;
    }
    #stage{
        font-size: 30px;
        padding: 5px 10px;
        top: -88px;
    }
    #logo_box{
        top:10%;
        left:0;
        width: 100%;

    }
    #login_box{
       top:35%;
        left:0;

    }
    #login_btn{
        width: 133px;
        padding: 0px;
        font-size: 128px;

        top: 68px;
        left: 5px;
    }
     #register_box{
      top:35%;
        left:0;
    }
    #separator{
        background: transparent;
    }
    #chat_logo{

        width: 512px;
    }
    #access_text{
          font-size: 80px;

    }
    #greeting_message{
        visibility: hidden;
    }

     .input, .button{
         margin-top:40px;
         padding: 32px;
         font-size: 48px;
         width: 80%;
         border-radius: 64px;
    }
     .button{
         width:30%;
     }
     #footer_text{
         width: 100%;
         text-align: center;
     }
    @-webkit-keyframes autofill {
    0%,100% {

    }
}

input:-webkit-autofill {

}
}

@media (max-width:1080px) and (-webkit-min-device-pixel-ratio: 2.75), (max-width:1080px) and (-webkit-min-device-pixel-ratio: 2.75){

    .box{
        font-size: 48px;
        left:0;
        width: 100%;

    }
    #home_btn{
        left: 32px;
        top: 32px;
        font-size: 92px;
        border-radius: 128px;
    }
    #login_box{
        top:35%;
        height:720px;
    }
    #separator{
        background: transparent;
    }
    #chat_logo{
        width: 50%;
        top: calc(50% - 100px);
    }
    #access_text{
        font-size: 148px;
        position: relative;
        top:32px;
    }
    #greeting_message{

    }
    #register{
        font-size: 48px;
    }
    .input, .button{
         margin-top:20px;
         padding: 32px;
         font-size: 48px;
         width: 80%;
         border-radius: 256px;
    }
     .button{
         width:30%;
     }
     .footer_text{
         position: relative;
          height: 16px;
          top: calc(100% - 64px);
          width: 100%;
          text-align: center;
         font-size: 48px;
     }
    #team_logo{
        font-size:48px;
    }
}
