
@media (max-width:1080px) and (-webkit-min-device-pixel-ratio: 2.0), (max-width:1080px) and (-webkit-min-device-pixel-ratio: 2.0){

    .box{
        font-size: 48px;
        height: 30%;
        left:0;
        width: 100%;
    }
    #logo_box{
        top:10%;
        left:0;
        width: 100%;

    }
    #login_box{
       top:35%;
        left:0;

    }
     #register_box{
      top:35%;
        left:0;
    }
    #separator{
        background: transparent;
    }
    #chat_logo{

        width: 512px;
    }
    #access_text{
          font-size: 80px;

    }
    #greeting_message{
        visibility: hidden;
    }

     .input, .button{
         margin-top:40px;
         padding: 32px;
         font-size: 48px;
         width: 80%;
         border-radius: 64px;
    }
     .button{
         width:30%;
     }
     #footer_text{
         width: 100%;
         text-align: center;
     }

}

@media (max-width:1080px) and (-webkit-min-device-pixel-ratio: 2.75), (max-width:1080px) and (-webkit-min-device-pixel-ratio: 2.75){

    .box{
        font-size: 48px;
        left:0;
        width: 100%;

    }
    #logo_box{
        height: 35%;
        top:0px;
    }
    #login_box{
       top:35%;
        height: 65%;
    }
    #separator{
        background: transparent;
    }
    #chat_logo{
        width: 50%;
        top: calc(50% - 100px);
    }
    #access_text{
        font-size: 96px;
        position: relative;
        top:32px;
    }
    #greeting_message{

    }
    #register{
        font-size: 32px;
    }
    .input, .button{
         margin-top:20px;
         padding: 32px;
         font-size: 48px;
         width: 80%;
         border-radius: 256px;
    }
     .button{
         width:30%;
     }
     #footer_text{
         position: relative;
          height: 16px;
          top: calc(100% - 64px);
          width: 100%;
          text-align: center;
         font-size: 48px;
     }

}
