@media (-webkit-min-device-pixel-ratio: 2.0) {
	#navbar {
		position: fixed;
		height: 64px;
		width: 100%;
	}
	#logo {
		/* width: 128px; */
		/* top: auto; */
	}
	#navbar_title {

font-size: 48px;

}
	.navbar_section{
		position: absolute;

		height: 100%;
	}
	#logout{
		position: relative;
		float:right;
		font-size: 48px;
		color:blue;
	}
	#user_name {
		visibility: hidden;
	}
	#user_icon {
		left:-32px;
		width: 48px;
	}
	#box_left {
		    top: 64px;
		    position: absolute;
		    width: 100%;
		    height: calc(100% - 128px);
	}
	#box_footer{
		width: 100%;
		height: 128px;
		top: calc(100% - 140px);
		left: 0px;
		display:flex;

	}
	#box_left_title{
    font-size: 72px;
    top: 12px;
    padding-left: 24px;
 }
	.box_footer_btn_image{
		width: 128px;
	}
	#thread_list {

top: 92px;
}
	.chat_thread {
		position: relative;
		height: 200px;
		border-radius: 20px;
		width: calc(100% - 48px);
		margin-left: 20px;
		margin-top: 20px;
	}
	.thread_icon {
    position: relative;
    height: 128px;
    left: 8px;
    top: 34px;


	}
	.thread_title {
		display: inline-block;
		position: relative;
		font-size: 72px;
		width: calc(100% - 235px);
		left: 35px;
		top: -11px;
	}

	.thread_preview {
		    position: relative;
    left: 170px;
    font-size: 48px;
    top: -22px;

	}
	.thread_status {
		font-family: "Material Icons";
		font-size: 48px;
		position: relative;
		float: right;
		left: -24px;
		top: 72px;
	}
	.input_box {
		border-radius: 128px;
		padding: 8px 16px;
	}

	.generic_btn {
		font-size: 48px;
		width: 128px;
		height: 128px;
		border-radius: 256px;
	}
	#chat {
		width: 100%;
		left: 100%;
	}
	#chat_hidden{
		visibility: hidden;
	}
	#thread_header {
		z-index: 9998;
		position: relative;
		width: 100%;
		height: 128px;
		top: 42px;
	}
	#chat_close{
		visibility: visible;
		font-size: 64px;
		font-family: "Material Icons", serif;
		position: relative;
		background: transparent;
		left: 1px;
		top:4px;
		border-style: solid;
		border-color: transparent;
	}
	.chat_thread_header_btn{
		width: 96px;
		right: 12px;
        top: 10px;
	}
	#chat_title {
		position: absolute;
		left: 190px;
		font-size: 64px;
		font-weight: bold;
		top: 24px;
		display: inline-block;
		width: calc(100% - 410px);
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	#chat_user_icon {
		position: relative;
		width: 92px;
		top: 12px;
		left: -5px;
	}

	#thread_bubbles {
		    position: absolute;
		    top: 128px;
		    height: calc(100% - 350px);
		    overflow: auto;
	}
	.bubble_container {
		position: relative;
		width: 75%;
		overflow: auto;
		padding: 8px;
		font-size: 48px;
	}
	.outgoing {
		left: 18%;
	}
	.incoming {
		left: 5%;
	}
	#send_box {
		position: absolute;
		height: 180px;
		top: calc(100% - 180px);
		width: 100%;
		left: 0;
	}

	#send_btn {
		position: relative;
		float: right;
		border-style: solid;
		border-color: transparent;
		border-radius: 256px;
		padding: 8px 4px;
		font-size: 56px;
		width: 112px;
		top: 34px;
		height: 112px;
		left: -24px;
	}
	#message_box {
		font-size: 48px;
		position: relative;
		width: calc(100% - 200px);
		left: 16px;
		top: 32px;
		height: 96px;
	}

	.popup_panel {
		z-index: 60;
		position: fixed;
		height: calc(100% - 128px);
		width: 100%;
		left: 0;
		top: 150%;
	}

	#cec_title {
		position: absolute;
		font-size: 72px;
		padding-left: 24px;
		padding-top: 4px;
		padding-bottom: 4px;
		top:8px;
	}

	#contacts_search_box{
		position: relative;
		left: 32px;
		top: 96px;
		height: 100px;
		width: calc(100% - 240px);
		font-size: 48px;
	}
	#contacts_search_btn{
		position: relative;
		float: right;
		left: -16px;
		width: 120px;
		height: 120px;
		top: 96px;

	}
	#contacts_list {
		position: relative;
		height: calc(100% - 98px);
		overflow: auto;
		top: 128px;
		width: 100%;
	}

	#contacts_list::-webkit-scrollbar {
		display: none;
	}

	.contact_element {
		height: 160px;
	}


	.contact_checkbox {
		position: relative;
		top: -14px;
		left: 5px;
		height: 64px;
		width: 64px;
		border-radius: 16px;
	}

	.contact_icon {
		position: relative;
		width: 128px;
		height: 128px;
		left: 8px;
		top: 16px;
	}

	.contact_name {
		position: relative;
		left: 32px;
		top: -24px;
		font-size: 72px;
		white-space: nowrap;
		width: calc(100% - 380px);
		text-overflow: ellipsis;
	}
	.contact_delete {
	    width: 128px;
    	height: 128px;
	}
	.contact_delete_icon{
		 width: 128px;
    	height: 128px;
	}
	#chat_and_contacts_panel{
		height: 100%;
	}
	.panel_close{
		z-index: 56;
		position: fixed;
		float: right;
		left: calc(100% - 180px);
   	 	top: calc(100% - 180px);
		text-align: center;
		font-size: 32px;
		height: 128px;
		width: 128px;
		border-radius: 256px;
		color: white;
		background: dodgerblue;
		border-color: transparent;
	}
	#cec_startchat{
		float: right;
		left: -50px;
		top: -400px;
		width: 128px;
		height: 128px;
	}
}