
/*mobile optimizations*/

@media (-webkit-min-device-pixel-ratio: 2.75) {
	#navbar {
		position: fixed;
		height: 48px;
		width: 100%;
	}
	#logo {
		width: 32px;
	}
	#navbar_title {
		top: 0px;
		font-size: 20px;
	}

	#navbar_section_logo{
		left:0;
	}
	#navbar_section_buttons{
		left:33.33333333333333333333333%;
	}
	#navbar_section_profile{
		right:0;
	}

	.navbar_button{
		position:relative;
		font-size: 32px;
		float:right;
		left:-12px;
		top:4px;
	}
	#theme_mode_btn{
		left: 50px;
	}
	#open_contacts_btn{
		left:-67px;
	}

	#logout{
		position: relative;
		float:right;
		font-size: 32px;

		left:-16px;
		top:8px;
		color:blue;
	}
	#user_name {
		visibility: hidden;
	}
	#user_icon {
		left:-16px;
		width: 48px;
		top: 0px;
	}
	#box_left {
		top: 40px;
		position: relative;
		width: 100%;
		height: calc(100% - 64px);
	}
	#chat_hidden{
		visibility: hidden;
	}
	.chat_thread {
		position: relative;
		height: 64px;
	}
	.thread_icon {
		position: relative;
		height: 48px;
		left: 8px;
		top: 8px;
	}
	.thread_title {
		position: relative;
		left: 16px;
		top: -16px;
		font-size: 24px;
	}
	.thread_preview {
		position: relative;
		left: 70px;
		top: -16px;
		font-size: 12px;
		width: calc(60% - 12px);

		 white-space: nowrap;
 		 overflow: hidden;
		 text-overflow: ellipsis;
	}
	.thread_status {
		font-family: "Material Icons";
		font-size: 24px;
		position: relative;
		float: right;
		left: -24px;
		top: 16px;
	}
	#new_thread {
		z-index: 49;
		position: fixed;
		float: right;
		left: calc(100% - 80px);
		top: calc(100% - 80px);
		height: 64px;
		width: 64px;

	}
	#search_box {
		position: relative;
		left: 4px;
		top: 10px;
		height: 32px;
		width: calc(100% - 100px);
		font-size: 16px;
	}
	.input_box {
		border-radius: 128px;
		padding: 8px 16px;
	}
	.generic_btn {
		font-size: 24px;
		width: 24px;
		height: 24px;
		border-radius: 128px;
	}
	#search_btn {
		position: relative;
		float: right;
		left: -4px;
		width: 48px;
		height: 48px;
		top: 12px;

	}

	/*thread detail*/
	#chat {
		width: 100%;
		left: 100%;
	}
	#thread_header {
		z-index: 9998;
		position: relative;
		width: 100%;
		height: 48px;
		top: 0px;

	}
	#chat_close{
		font-size: 32px;
		font-family: "Material Icons", serif;
		position: relative;
		background: transparent;
		left: 1px;
		top:4px;
		 border-style: solid;
		border-color: transparent;
	}
	.chat_thread_header_btn{
		font-size: 24px;
		top:12px;
		left:-16px;
	}
	#chat_title {
		position: relative;
		left: 8px;
		font-size: 24px;
		font-weight: bold;
		top: -2px;
	}
	#chat_user_icon {
		position: relative;
		width: 32px;
		top: 6px;
		left: -1px;
	}
	#chat_user_status {
		font-size: 12px;
		position: relative;
		left: 24px;
		top: -10px;
		visibility: hidden;
	}

	#thread_bubbles {
		position: absolute;
		top: 0px;
		height: calc(100% - 64px);
		overflow: auto;
	}
	.bubble_container {
		position: relative;
		width: 75%;
		overflow: auto;
		padding: 8px;
		font-size: 24px;
	}
	.outgoing {
		left: 18%;
	}
	.incoming {
		left: 5%;
	}
	#send_box {
		position: absolute;
		height: 64px;
		top: calc(100% - 65px);
		width: 100%;
		left: 0;
	}

	#send_btn {
		position: relative;
		float: right;
		border-style: solid;
		border-color: transparent;
		border-radius: 256px;
		padding: 8px 4px;
		font-size: 24px;
		width: 48px;
		height: 48px;
		top: 6px;

		left: -8px;
	}
	#message_box {
		font-size: 16px;
		position: relative;
		width: calc(100% - 108px);
		left: 8px;
		top: 4px;
		height: 32px;
	}

	.popup_panel {
		z-index: 60;
		position: fixed;
		height: 100%;
		width: 100%;
		left: 0;
		top: 150%;
	}

	#cec_title {
		position: absolute;
		font-size: 32px;
		padding-left: 24px;
		padding-top: 4px;
		padding-bottom: 4px;
		top:0px;
	}
	.panel_close{
		z-index: 56;
		position: fixed;
		float: right;
		left: calc(100% - 80px);
		top: calc(100% - 80px);
		text-align: center;

		font-size: 32px;
		height: 64px;
		width: 64px;
		border-radius: 256px;

		color: white;
		background: dodgerblue;
		border-color: transparent;

	}
	#contacts_search_box{
		position: relative;
		left: 8px;
		top: 16px;
		height: 32px;
		width: calc(100% - 128px);
		font-size: 16px;
	}

	#contacts_search_btn{
		position: relative;
		float: right;
		left: -16px;
		width: 48px;
		height: 48px;
		top: 16px;

	}
	#contacts_list {
		position: relative;
		height: calc(100% - 32px);
		overflow: auto;
		top: 32px;
		width: 100%;
	}

	#contacts_list::-webkit-scrollbar {
		display: none;
	}

	.contact_element {
		height: 48px;
		border-style: solid;
	}


	.contact_checkbox {
		position: relative;
		top: 0px;
		left: 5px;
		height: 16px;
		width: 16px;
		border-radius: 16px;
	}

	.contact_icon {
		position: relative;
		width: 32px;
		left: 8px;
		top: 8px;
	}

	.contact_name {
		position: relative;
		left: 16px;
		top: 0px;
		font-size: 24px;
	}

	.contact_status {
		font-family: "Material Icons";
		font-size: 16px;
		position: relative;
		float: right;
		left: -24px;
		top: 10px;
	}

	.online{
		background-color: transparent;
		color : limegreen;
	}
	.offline{
		background-color: transparent;
		color : #303030;
	}

	.moving_bubble{
		position:absolute;
		left: 25%;
		z-index:1000;
		top: calc(50% - 22px);
		height:24px;
		width:calc(75% - 32px);
		color:white;
		background:dodgerblue;

		padding:8px 16px;
		border-style:solid;
		border-radius: 32px 32px 0 32px;
	}
	#cec_footer{
		top:-16px;
	}
	#cec_startchat{
		float:left;
		top: -72px;
		left: 16px;
		width: 64px;
		height: 64px;
	}
	#cec_new_contact_btn{
		font-size: 16px;
		left: 17px;
		top: -5px;
	}
	.contact_delete{
		left: -12px;
		top: 9px;
	}
	#input_panel{
		z-index: 70;
		height: 100px;
		width: calc(100% - 24px);
		left: 12px;
	}
	#input_close{
		left: calc(100% - 46px);
		width: 32px;
		height: 32px;
		font-size: 12px;
		top: 11px;
		float: right;
	}
	#input_panel_btn_confirm{
		font-size: 14px;
	    width: 31px;
	    height: 31px;

	}
}